
@{
    ViewBag.Title = "Welcom";
}

<link rel="stylesheet" href="~/Content/start-screen.css" />

@section Scripts {
    @*<script src="~/Scripts/jquery.signalR-2.4.2.min.js"></script>*@
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">

        var clientName; // this should be accessible to any needed javascript file
        var clientId;
        var gameSetup;
/*        var chat;*/

        // Start up the hub connection for setup
        jQuery(document).ready(function ($) {
            connection = $.connection.setupHub;
            chat = $.connection.chatHub;

            // functions that happen when receiving from hub
            // creating and entering a new room
            connection.client.enterRoom = function (setup) {
                console.log('received');
                console.log(setup);
                gameSetup = setup;

                console.log(gameSetup);

                // add them to the chat group too
                addToChatGroup(gameSetup.ActiveParticipant);

                // create cookie for username and game code
                document.cookie = "ParticipantId=" + gameSetup.ActiveParticipant.ParticipantId + "; GameCode=" + gameSetup.GameCode + ";";
                console.log("Cookie: " + document.cookie);

                enterWaitRoom();


            };

            connection.client.decideHowToEnter = function (setup) {
                gameSetup = setup;
                getJoinRoomOptions();
                /*        enterWaitRoom();*/
            };

            // chat hub

            // add participant to chat group
            chat.client.addNewMessage = function (newMessage) {
                console.log('adding message');
                addChatMessage(newMessage.Name, newMessage.Message);
            };

            // Add message to the chat
            chat.client.addToChat = function (newMessage) {
                console.log('adding user');
                // also load the chat since the person is now in the chat
                loadGameChat();
                // notify everyone the person has entered
                addNotice(newMessage.Message, "green");
            };

            // load the chat
            chat.client.loadChat = function (chat) {
                console.log('chat loaded');
                showChatHtml(chat.ChatHtml);
            }

            // start connection
            $.connection.hub.start().done(function () {
                console.log('starting');

            });

        });

//        // Start up the hub connection for the chat
//        jQuery(document).ready(function ($) {
//            chat = $.connection.chatHub;

//            // functions that happen when receiving from hub
//            // creating and entering a new room
//            chat.client.addNewMessage = function (newMessage) {
//                console.log('adding message');
//                addNewMessage(newMessage.Name, newMessage.Message);
//            };

//            chat.client.addNewMessage = function (newMessage) {
//                console.log(newMessage);
///*                addNewMessage(newMessage.Name, newMessage.Message);*/
//            };

//            chat.client.testThis = function () {
//                console.log('test');
//            }

//            // sending to hub
//            $.connection.hub.start().done(function () {
//                console.log('starting chat connection');

//            });

//        });


    </script>
}


<div id="mainDiv">

    <div id="initialOptions">
        <p>
            <label>Please enter your name.</label>
            <br />
            <input id="enterName" type="text" />
        </p>
        <p>
            <input type="button" id="createRoomBtn" value="Create Room" /><br />
            <input type="button" id="joinRoomBtn" value="Join Room" />
        </p>


        <div id="allowAudienceModal" class="modal">
            <span class="close">&times;</span>
            <p>Allow others to watch?</p>
            <input type="button" id="yesAudienceBtn" value="Yes" />
            <input type="button" id="noAudienceBtn" value="No" />
        </div>

        <div id="gameCodeModal" class="modal">
            <div id="initialGameCodeModalDisplay">
                <span class="close">&times;</span>
                <p>Game Room Code:</p>
                <input type="text" id="gameCodeInput" />
                <input type="button" id="submitGameCodeBtn" value="Enter Room" />
            </div>
            <div id="joinOptionsDisplay">
                <input type="button" id="joinAsPlayerBtn" value="Join as Player" />
                <input type="button" id="joinAsWatcherBtn" value="Join as Watcher" />
                <span id="noSpaceAvailable">Sorry, this game room is full!</span>
            </div>
            
        </div>

    </div>

    <div id="waitRoom">

        <h2>Here is the code to join the room: <b id="roomCode"></b></h2>

        <div id="waitParticipantContainer">
            <div id="waitRoomPlayers">
                <h3>Players</h3>
            </div>
            <div id="waitRoomWatchers">
                <h3>Watchers</h3>
            </div>
        </div>


    </div>


    <div id="chatArea">

        <div id="chatMessages"></div>
        <div id="addMessage">
            <input type="text" id="messageInput" placeholder="Enter message here" />
            <input type="button" id="addMessageBtn" value="Add" />
        </div>

    </div>

</div>



<script src="~/Scripts/start-screen.js"></script>
<script src="~/Scripts/chat.js"></script>