:root {
    --squareLength: 30px;
    --backdropLength: 355px;
    --holeDiameter: 13px;
    --boardColor: #256BA3;
    --darkAccent: #134165;
    --lightAccent: #60B1F2;
    --boardIndex: 1;
    --squareIndex: 2;
    --pegHoleIndex: 3;
    --pegIndex: 5;
}

#boardDiv {
    justify-content: center;
    display: flex;
}

.half-board {
    position: relative;
    width: 395px;
    height: 395px;
    background: var(--boardColor);
    z-index: var(--boardIndex);
}

    .half-board.backdrop {
        position: absolute;
        width: var(--backdropLength);
        height: var(--backdropLength);
        background: var(--darkAccent);
        top: 35px;
        left: 35px;
    }

.square {
    width: var(--squareLength);
    height: var(--squareLength);
    background: var(--boardColor);
    z-index: var(--squareIndex);
}
    .square > .peg-hole {
        width: var(--holeDiameter);
        height: var(--holeDiameter);
        border-radius: 50%;
        background: var(--darkAccent);
        z-index: var(--pegHoleIndex);
    }

.square.info {
    background: var(--lightAccent); /*This is temporarily a weird color to just identify it*/
}

.square.empty {
    display: none;
}
