#chatArea {
    position: relative;
}

    /* TODO change the wait room dimensions - keep the same for game room*/
    #chatArea.wait-room-chat {
        width: 48%;
        height: 200px;
    }
        #chatArea.wait-room-chat #chatContent {

        }
            #chatArea.wait-room-chat #chatContent #chatMessages {
                height: 70%;
            }
            #chatArea.wait-room-chat #chatContent #addMessage {
                height: 30%;
            }


    #chatArea.game-room-chat {
        width: 200px;
        height: 300px;
    }
        #chatArea.game-room-chat #chatContent {
            width: 70%;
            border: 1px solid black;
        }
            #chatArea.game-room-chat #chatContent #chatMessages {
                height: 80%;
            }
            #chatArea.game-room-chat #chatContent #addMessage {
                height: 20%;
            }

#chatContent {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    padding: 5px, 5px, 5px, 5px;
}
#chatMessages {
    text-align: left;
    word-wrap: break-word;
    overflow: scroll;
    overflow-x: hidden;
}
#addMessage {
    border-top: 1px solid black;
    padding-bottom: 5px;
    padding-top: 5px;
    height: 30%
}