:root {
    --accentColor: #4AA1E7;
    --accentBorder: #1865A3;
    --accentText: white;
    --sectionWidth: 300px;
    --sectionHeight: 200px;
    --upperHeight: 100px;
}

.break {
    flex-basis: 100%;
    height: 0;
}

#mainDiv {
    justify-content: center;
    text-align: center;
}

#initialOptions {
    display: block;
}


#waitRoom {
    display: none;
}

.game-intro {
    margin-bottom: 15px;
}

#upperSection {
    position: relative;
    width: 100%;
    height: var(--upperHeight);
    margin-bottom: 0;
}

    #upperSection .game-intro {
        float: left;
        width: 48%;
        position: relative;
        text-align: left;
        margin-bottom: 0;
        /*        width: 100%;
        margin-bottom: 15px;*/
    }
        #upperSection .game-intro #introContainer {
            width: var(--sectionWidth);
            max-width: 100%;
            max-height: 100%;
            float: right;
        }
        #upperSection .game-intro #introContainer p {
            margin-top: -5px;

        }

    #upperSection #waitInfo {
        width: 48%;
        float: right;
        position: relative;
        text-align: right;
        height: 100%;
    }
        #upperSection #waitInfo #infoContainer {
            width: var(--sectionWidth);
            height: 100%;
            float: left;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: flex-end;
            max-width: 100%;
        }
        #upperSection #waitInfo #infoContainer h2 {
            margin-bottom: 15px;
        }

    #contentSection {
        position: relative;
        width: 100%;
        height: var(--sectionHeight);
    }
    #contentSection #participantArea {
        float: left;
        width: 48%;
        height: 100%;
        position: relative;
    }

        #contentSection #participantArea table {
            width: var(--sectionWidth);
            max-width: 100%;
            max-height: 100%;
            float: right;
        }

            #contentSection #participantArea table th {
                width: 50%;
                border: 2px solid var(--accentBorder);
                text-align: center;
                font-size: smaller;
                color: var(--accentText);
                background-color: var(--accentColor);
                position: relative;
            }

/* Chat Stuff */
    #contentSection #chatArea {
        float: right;
        position: relative;
        height: var(--sectionHeight);
    }
        #contentSection #chatArea #chatContent {
            width: var(--sectionWidth);
            max-width: 100%;

        }
            #contentSection #chatArea #chatContent #chatMessages {
                background-color: white;
                border-top: 1px solid black;
                border-left: 1px solid black;
                border-right: 1px solid black;
            } 
            #contentSection #chatArea #chatContent #addMessage {
                background-color: var(--accentColor);
                border: 1px solid var(--accentBorder);
            } 

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    margin: auto;
    width: 300px; /* Full width */
    height: 400px; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #ffffff; /* Black w/ opacity */
    border: 2px solid black;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }