
@{
    ViewBag.Title = "Test";
}

<link rel="stylesheet" href="~/Content/board.css" />

<h2>Test</h2>



<div id="boardDiv">

    @*<div id="enemyBoard" class="halfBoard">

    </div>*@

    <div id="playerBoard" class="halfBoard">

        <div class="backdrop-area"></div>

        <!-- TODO In final version, generate this using javascript-->
        <!-- Information column first and information row first-->
        <!--<div class="empty-square"></div>
        <div class="info-square"></div>
        <div class="info-square"></div>
        <div class="info-square"></div>
        <div class="info-square"></div>
        <div class="info-square"></div>
        <div class="info-square"></div>
        <div class="info-square"></div>
        <div class="info-square"></div>
        <div class="info-square"></div>
        <div class="info-square"></div>-->

        <!-- row 1 -->
        <!--<div class="info-square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>-->

        <!-- row 2 -->
        <!--<div class="info-square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>-->

        <!-- row 3 -->
        <!--<div class="info-square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>-->

        <!-- row 4 -->
        <!--<div class="info-square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>-->

        <!-- row 5 -->
        <!--<div class="info-square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>-->

        <!-- row 6 -->
        <!--<div class="info-square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>-->

        <!-- row 7 -->
        <!--<div class="info-square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>-->

        <!-- row 8 -->
        <!--<div class="info-square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>-->

        <!-- row 9 -->
        <!--<div class="info-square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>-->

        <!-- row 10 -->
        <!--<div class="info-square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>-->




    </div>

</div>



<script src="~/Scripts/board.js"></script>