
@{
    ViewBag.Title = "Test";
}

<link rel="stylesheet" href="~/Content/chat.css" />
<link rel="stylesheet" href="~/Content/game.css" />
<link rel="stylesheet" href="~/Content/board.css" />
<link rel="stylesheet" href="~/Content/ship.css" />

<h2>Test</h2>

<div id="boardDiv">

    @*<div id="enemyBoard" class="halfBoard">

        </div>*@

    <div id="playerBoard" class="half-board">

        <div class="half-board backdrop"></div>

    </div>

</div>


@section Scripts {
    @*<script src="~/Scripts/jquery.signalR-2.4.2.min.js"></script>*@
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">

                        @*document.getElementById('chatMessages').innerHTML = @Model.Chat.ChatHtml;*@

        var clientName; // this should be accessible to any needed javascript file
        var clientId;
        var gameSetup;


        var gameInformation; // this should be set on page load by the game hub - it should contain ship info too


        // Start up the hub connection for setup
        jQuery(document).ready(function ($) {
            gameHub = $.connection.gameHub;

            // game hub
            gameHub.client.setGame = function (game) {
                console.log('setting game');
                gameInformation = game;

                // For now start setting ships here
                startSettingShips();

                // Now update the board according to positions
                // TODO write function for this

                // TEST
                console.log('TEST: ' + gameInformation.Board.PlayerBoard.Positions['1-1']);
            }

            gameHub.client.setTestGame = function (model) {
                console.log('setting test information');
                gameSetup = model.TestSetup;
                clientId = model.ParticipantId;

                // after supplying the setup to the test, call the hub to actually start the game
                gameHub.server.connectGame(gameSetup);
            }

            // start connection
            $.connection.hub.start().done(function () {
                console.log('starting');

                // set the game up
                gameHub.server.getTestGame();
            });

        });

    </script>
}




<script src="~/Scripts/board-setup.js"></script>