
@{
    ViewBag.Title = "Test";
}

<link rel="stylesheet" href="~/Content/chat.css" />
<link rel="stylesheet" href="~/Content/game.css" />
<link rel="stylesheet" href="~/Content/board.css" />
<link rel="stylesheet" href="~/Content/ship.css" />

<h2>Test</h2>



<div id="boardDiv">

    @*<div id="enemyBoard" class="halfBoard">

        </div>*@

    <div id="playerBoard" class="half-board">

        <div class="half-board backdrop"></div>

    </div>

</div>



<script src="~/Scripts/board.js"></script>